
.home-first{
  background-color: rgb(238, 231, 231);
}
.home-row {
  display: flex;
}

.home-left{
  margin-top: 200px;
  margin-left: 70px;
}

.home-left h1{
  font-size: 50px;
}

.home-left p{
  font-size: 20px;
  padding-top: 20px;
}
.home-right img{
  border-radius: 500px 500px 0px 0px;
  margin-right: 70px;
  height: 750px;
  width: 650px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.home-column {
  flex: 50%;
}


.stat-column {
  float: left;
  width: 33.33%;
  font-size: 30px;
  padding-top: 30px;
}

.span-plus{
  color: orange;
  font-size:30px;
}

.secondaryText{
  font-size: 15px;
}

/* Clear floats after the columns */
.atat-row:after {
  content: "";
  display: table;
  clear: both;
}


.home-second{
  padding-top: 60px ;
}

.working{
  padding: 70px;
  column-count: 4;
}

.working-flow img{
  height: 90px;
}

.working-flow h2{
  padding-top: 30px;
}

.working-flow p{
  padding-top: 25px;
  color: gray;
}

.home-third {
  width: 100%;
  text-align: center;
}

.category-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  column-count: 3;
}

.category-col {
  position: relative;
  display: inline-block;
}

.category-col img {
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 20px;
  margin-top: 30px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
  transform: scale(0.9); /* Start with a smaller scale */
}

.category-col img:hover {
  transform: scale(1); /* Scale to original size on hover */
}

.centerd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
}

.cat-link{
  text-decoration: none;
  color: white;
}


/* Slider */

.home-fourth{
  margin-top: 50px ;
  margin-left: 50px;
  margin-right: 50px;
}

.sliders-partner{
  padding-top: 10px;
}
.slick-slide {
  margin: 0px 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* HomeVideo.css */
.home-video {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-video video {
  max-width: 100%;
  height: auto;
  border: 0px solid #ddd; /* Optional border */
  border-radius: 0px; /* Optional rounded corners */
}

@media screen and (max-width: 64rem) {
  .col {
      width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
      width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
      width: 100%;
      margin: 0 0 2rem 0;
  }
}
  